.hide{
  display: none;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Mobile screen */
.container {
  /* width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; */

  width: 320px;
  padding: 0 16px;
  margin: 0 auto;

  outline: 2px solid red;
}
/* Tablet screen */
@media screen and (min-width: 768px) {
  .container{
  width: 768px; 
  padding: 0 16px;
  
  }
}
@media screen and (max-width: 767px) {
  section{
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
/* Desctop screen */
@media screen and (min-width: 1158px) {
.container {
  width: 1158px;
  padding: 0 15px;
  
}
}
  


ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
.header-nav:hover {
  color: #404bbf;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  align-items: center;
  flex-grow: 1;
}

.header-list {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width:767.98px){
  .header-list{
    display: none;
  }
  
}
.header-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu {
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu-icon {
}

@media only screen and (min-width:768px){
  .header-menu{
    display: none;
  }
  }
 

.header > .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
 
}
.logo-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;

  margin-right: 149px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width:768px){
    .logo-link{
      margin-right: 120px;
  }
  }

.header-link {
  display: block;
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.current-link::after{
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
 background-color:#404BBF ;
 bottom: -1px;
 left: 0;
 border-radius: 2px;
}
.current-link{
color:#404BBF ;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover {
  color: #404bbf;
}
.logo:active {
  text-decoration: underline;
}
.logo:focus {
  color: #404bbf;
}
.header-link:hover {
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.post {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.post:hover {
  color: #404bbf;
}
.post:focus {
  color: #404bbf;
}

.contacts {
  color: #434455;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
@media only screen and (min-width:1157px){
  .contacts {
font-size: 16px;
font-style: normal;
line-height: 1.5; 
letter-spacing: 0.02em;
  }

}

@media only screen and (max-width:1157px){
  .contacts-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 12px;
}
}

@media only screen and (max-width:767.98px){
  .contacts-list{
    display: none;
  }
  
}


.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg_mob@1x_result.jpg);
  background-color: #2e2f42;
  text-align: center;
  flex-shrink: 0;
  padding: 72px 0 72px;
  


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1158px;
margin-left: auto;
    margin-right: auto;
}

@media screen and (min-resolution: 192dpi) {
  .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg_mob@2x_result.jpg);
  }
}

@media only screen and (min-width:768px) {
.hero{
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg_tab@1x_result.jpg);
}
}

@media screen and (min-width:768px) and (min-resolution: 192dpi) {
  .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg_tab@2x_result.jpg);
  }
}

@media only screen and (min-width:1158px) {
  .hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office\ 1_desc@1x_result.jpg);
  }
  }

  @media screen and (min-width:1158px) and (min-resolution: 192dpi) {
    .hero{
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office\ 1_desc@2x_result.jpg);
    }
  }

@media only screen and (min-width:768px) {
.hero {
  padding: 112px 0 112px;
}
}

@media only screen and (min-width:1158px) {
  .hero {
    padding: 188px 0 188px;
  }
  }

.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: block;
  margin: 0 auto 72px auto;

  max-width: 496px;
}
@media only screen and (min-width:768px) {
  .hero-title{
    margin: 0 auto 36px auto;
  }
}

@media only screen and (min-width:1158px) {
  .hero-title{
    margin: 0 auto 46px auto;
  }
}

@media  screen and (max-width: 767px) {
  .hero-title{
    width: 215px;
  color:  #FFF;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.1; 
text-transform: capitalize;
}
}

button {
  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.benenefits-title {
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;

border-radius: 4px;
border: 1px solid #8E8F99;
background: #F4F4FD;
}
.benefits-icon {
}

@media screen and (max-width:1339px) {
  .benefits-wrapper{
    display: none;
  }
}

.benenefits-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 72px;
  
}

@media screen and (min-width:768px) {
  .benenefits-list{
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .benenefits-list{
    flex-wrap: nowrap;
  }
}

.benenefits-item {
  
  /* width: calc((100% - 72px) / 4); */
}

@media screen and (min-width:768px) {
.benenefits-item{
  width: 356px;
  text-align: left;
}

}

.benenefits-caption {
  color: #2e2f42;
 
  margin-bottom: 8px;
  border-radius: 0px 0px 4px 4px;

font-size: 36px;
font-weight: 700;
line-height: 1.1; 
letter-spacing: 0.02em;
text-transform: capitalize;
  
}

@media screen and (min-width: 1158px) {
  .benenefits-caption{
     font-size: 20px; 
   font-weight: 500; 
   line-height: 1.2; 
  }
}

.benenefits-desc {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* @media  screen and (min-width:768px ) {
  .team{
  padding: 96px 108px;

  }
} */


.team {
  background-color: #f4f4fd;
 
}

.team-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 72px;
  /* justify-content: space-between; */
  align-items: center;
}
@media  screen and (min-width:1158px ) {
.team-list {
  flex-wrap: wrap;
  gap: 24px;
  
}
}
@media  screen and (min-width:768px ) {
  .team-list{
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
  }
}

.team-item {
  /* width: calc((100% - 3 * 24px) / 4); */
  width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.wrapper-list {

  display: flex;
  align-items: center;
  justify-content: center;
gap: 24px;
}
.wrapper-icon{
 background-color: #4D5AE5;
 width: 100%;
 height: 100%;

 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wrapper-icon:hover,
.wrapper-icon:focus{
  background-color:#404BBF;
}
.icon-item {
  width: 40px;
  height: 40px;
  


}
.team-icon {
  fill: #f4f4fd;
  
  
}
.team-title,
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.team-caption {
  text-align: center;
  margin-bottom: 8px;
}
.team-desc {
  text-align: center;
  margin-bottom: 8px;
}
.team-data {
  padding: 32px 0;
}
.team-caption,
.portfolio-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.team-desc,
.portfolio-desc {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.portfolio-thumb{
  position: relative;
  overflow: hidden;
}
.overley{
  position: absolute;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;
transform: translateY(100%);

font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02rem;
color: #F4F4FD;

background-color:  #4D5AE5;

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 /* Team */
.portfolio-item:hover .overley {
  transform: translateY(0%);
}
.portfolio-caption {
  margin-bottom: 8px;
}
.portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-item {
  width: 288px;
  /* width: calc((100% - 1 * 24px) / 2); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 767px ){
  .portfolio-item{
    width: calc((100% - 1 * 24px) / 2);
  }
}

@media only screen and (min-width: 1058px ){
  .portfolio-item{
    width: calc((100% - 2 * 24px) / 3);
  }
}
.product-desc {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  row-gap: 48px;
}
.portfolio-item:hover{
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.down-logo {
  color: #f4f4fd;
}

footer {
  background-color: #2e2f42;
  padding: 100px 0;
}


.footer > .container{
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  column-gap: 24px;
  /* align-items: baseline; desk*/ 
}
 .footer-link {
  display: inline-flex;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* display: inline-block; desk */
  margin-bottom: 16px;
}
.footer-list{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.footer-desc {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  text-align: left;
}
@media only screen and (min-width: 767px ){
  .footer > .container{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1158px ){
  .footer > .container{
    gap: 0;
  }
}

@media only screen and (max-width: 767px ){
  .footer > .container{
    text-align: center;
  }
}

@media only screen and (min-width: 768px ) and (max-width:1157px){
  .footer > .container{
    padding: 0 108px 0 108px ;
  }
}
.footer-logo{
  /* margin-right: 120px; desk */ 
}
@media screen and (min-width: 1158px) {
  .footer-logo{
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .social {
    margin-right: auto;
  }
  
}
.social {
  justify-content: center;
  
  
}
.social-title {
  color:  #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
margin-bottom: 16px;

}
.social-list {
  justify-content: center;
  display: flex;
  gap: 16px;

}

.social-item {
  width: 40px;
  height: 40px;
}
.social-icon {
  background-color: #4D5AE5;
 width: 100%;
 height: 100%;

 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:hover,
.social-icon:focus{
  background-color: #31d0aa;
}
.social-icon-icon {
  fill: #f4f4fd ;
}

.footer-form {
  
}
.subscribe-title{
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

}
@media only screen and (min-width: 768px ){
  .subscribe-form{
    flex-direction: row;
  }
}

.footer-label {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer-label-input {
  width: 264px; 
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff; 


}
::placeholder {
  color: #ffffff;
}
.fotter-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center; 
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  padding: 8px 24px;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  background-color: #4D5AE5;


}
.footer-button-icon{
  margin-left: 16px;
  fill:#FFFFFF;
}



.backdrop {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  opacity:0;
  visibility: hidden;
  pointer-events: none;

  width: 100%;
  height: 100%;
  background:  rgba(46, 47, 66, 0.40);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  
  border-radius: 4px;
  background:  #FCFCFC;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

 
}


@media only screen and (min-width: 768px ){
  .modal{
    width: 408px;
  }
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;
  width: 24px;
  border-radius: 50%;
  padding: 0;
  background-color:  #E7E9FC;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:focus,
.modal-btn:hover{
  background-color: #404BBF;
  border: none;
  fill:#FFFFFF;
}
.modal-btn-icon {
  stroke:#2E2F42 ;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.modal-btn:hover .modal-btn-icon { 
  fill: #ffffff;
  background-color: #404bbf;
  border: none; 
}
.modal-btn:focus .modal-btn-icon
{fill: #ffffff;
  background-color: #404bbf;
  border: none; 
}
.modal-caption {
margin-bottom: 16px;
width: 256px;
color: #2E2F42;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;

}

@media only screen and (min-width: 768px ){
  .modal-caption{
    width: 360px; ;
  }

}

.modal-form {

}
.modal-form-feil {
  margin-bottom: 8px;
}
.modal-form-label {
display: block;
margin-bottom: 4px;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
color:  #8E8F99;
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-input {
  width: 100%;
  padding: 8px 38px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  outline:#4D5AE5;
  background-color: transparent;
  outline: transparent; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon {
  position: absolute;
  top:50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus{
  border-color: #4D5AE5;
}
.modal-form-input:focus + .modal-form-icon{
  fill: #4D5AE5;
}
.modal-textarea-wrapper{
  margin-bottom: 16px;
}
.form-textarea{
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
outline: transparent;
background-color: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

color: rgba(46, 47, 66, 0.4);
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
}
.form-textarea:focus{
  border-color: #4D5AE5;
}


/* .review-form-agreement {
  color: #8E8F99;
font-size: 12px;
font-weight: 400;
line-height: 1.16;
letter-spacing: 0.04em;
margin-bottom: 24px;
}
.review-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox-icon {
  fill: #F4F4FD;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input[type='checkbox']:checked ~ .review-form-checkbox {
background: #404BBF;
border-color: transparent;
}
input[type='checkbox']:checked ~ .review-form-checkbox > .review-form-checkbox-icon {
  opacity: 1;
}
.review-form-link {
  color: #4D5AE5;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.48px;
text-decoration-line: underline;
} */

.form-checkbox-wrapper {
  margin-bottom: 24px;
}

.label-checkbox {
  color: #8E8F99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.custom-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  margin-right: 12px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
  color: #4D5AE5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.input-checkbox:checked + .label-checkbox > .custom-checkbox {
  border: none;
  background-color:#404bbf;
  fill: #F4F4FD;
}


.modal-btn-btn{
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
}

.mobile-menu{
  position:fixed;
  top: 0;
  left: 0;

  transform: translateX(100%);

display: flex;
flex-direction: column;

  width: 100%;
  height: 100%;

  background: #FFF;
  padding: 72px 24px 40px 16px;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border: 1px solid  #E7E9FC;
  border-radius: 50%;

display: flex;
align-items: center;
justify-content: center;

  padding: 0;
  background: transparent;
}
.mobile-menu-icon {
  stroke: #2E2F42;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
color:  #2E2F42;
}
.mobile-menu-link.current{
  color:  #404BBF;
}
.mobile-menu-contacts-item{
  color:  #434455;

font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}
.mobile-menu-contacts > li:first-child > a{
  color:  #4D5AE5;
}
.mobile-menu-contacts > li:not(:last-child){
  margin-bottom: 24px;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-socials.wrapper-list {
  gap: 40px;
}
