body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
.header-nav:hover {
  color: #404bbf;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  align-items: center;
}
.header > .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  
}
.logo-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;

  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link {
  display: block;
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-link::after{
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
 background-color:#404BBF ;
 bottom: -1px;
 left: 0;
 border-radius: 2px;
}
.current-link{
color:#404BBF ;
position: relative;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover {
  color: #404bbf;
}
.logo:active {
  text-decoration: underline;
}
.logo:focus {
  color: #404bbf;
}
.header-link:hover {
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}

img {
  display: block;
}
.post {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.post:hover {
  color: #404bbf;
}
.post:focus {
  color: #404bbf;
}

.contacts {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.hero {
  background-color: #2e2f42;
  text-align: center;
  flex-shrink: 0;
  padding: 188px 0 188px;
  

  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
  url(../images/hero/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: block;
  margin: 0 auto 48px auto;

  max-width: 496px;
}
button {
  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.benenefits-title {
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;

border-radius: 4px;
border: 1px solid #8E8F99;
background: #F4F4FD;
}
.benefits-icon {
}
.benenefits-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.benenefits-item {
  width: calc((100% - 72px) / 4);
}
.benenefits-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  border-radius: 0px 0px 4px 4px;
}
.benenefits-desc {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}
.team-item {
  width: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.wrapper-list {

  display: flex;
  align-items: center;
  justify-content: center;
gap: 24px;
}
.wrapper-icon{
 background-color: #4D5AE5;
 width: 100%;
 height: 100%;

 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wrapper-icon:hover,
.wrapper-icon:focus{
  background-color:#404BBF;
}
.icon-item {
  width: 40px;
  height: 40px;
  


}
.team-icon {
  fill: #f4f4fd;
  
  
}
.team-title,
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.team-caption {
  text-align: center;
  margin-bottom: 8px;
}
.team-desc {
  text-align: center;
  margin-bottom: 8px;
}
.team-data {
  padding: 32px 0;
}
.team-caption,
.portfolio-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.team-desc,
.portfolio-desc {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.portfolio-thumb{
  position: relative;
  overflow: hidden;
}
.overley{
  position: absolute;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;
transform: translateY(100%);

font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02rem;
color: #F4F4FD;

background-color:  #4D5AE5;

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.portfolio-item:hover .overley {
  transform: translateY(0%);
}
.portfolio-caption {
  margin-bottom: 8px;
}
.portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-desc {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  row-gap: 48px;
}
.portfolio-item:hover{
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.footer-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.down-logo {
  color: #f4f4fd;
}

footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-list{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.footer-desc {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.logo-social{
  display: flex;
  align-items: baseline;
}
.footer-logo{
  margin-right: 120px;
}
.social {
  
}
.social-title {
  color:  #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
margin-bottom: 16px;

}
.social-list {
  display: flex;
  gap: 16px;

}

.social-item {
  width: 40px;
  height: 40px;
}
.social-icon {
  background-color: #4D5AE5;
 width: 100%;
 height: 100%;

 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
}
.social-icon-icon {
}
.team-icon {
}
